<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FRANCISCOMATEOEntities" connectionString="metadata=&quot;res://*/DataBase FIsico.Model1.csdl|res://*/DataBase FIsico.Model1.ssdl|res://*/DataBase FIsico.Model1.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ASPTDKA\FRANCISCOMATEO;initial catalog=FRANCISCOMATEO;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>